﻿@model RegisterViewModel
<div>
    <h1>Регистрация нового пользователя</h1>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Register" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="SurName"></label><br />
                <input asp-for="SurName" />
                <span asp-validation-for="SurName"></span>
            </div>
            <div>
                <label asp-for="MiddleName"></label><br />
                <input asp-for="MiddleName" />
                <span asp-validation-for="MiddleName"></span>
            </div>
            <div>
                <label asp-for="Email"></label><br />
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Login"></label><br />
                <input asp-for="Login" />
                <span asp-validation-for="Login"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="PasswordConfirm"></label><br />
                <input asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div>
                <input type="submit" value="Регистрация" />
            </div>
        </form>
    </div>
</div>